<html>
  <head>
    <title>Weather App</title>
    {{!-- {{>header}} --}}
  </head>
  <body>
    <form>
      <input placeholder="Enter text" value="boston" />
      <button>Search</button>
    </form>
    <p id="message"></p>

  </body>
  <script src="/js/index.js"></script>

</html>